<a href="https://colab.research.google.com/github/ianbennett41430/ICP2/blob/main/icp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:

In [ ]:
from array import *
from numpy import *
#store array
print("The original array is:")
ages=([19,22,19,24,20,25,26,24,25,24])
print(ages)

#sorts array
print("The sorted array is:")
ages.sort()
print(ages)
#add min age to list
print("Adding the min to the list:")
ages.append(ages[1])
ages.sort()
print(ages)
#add max age to list
print("Adding the max to the list:")
ages.append(ages[len(ages)-1])
print(ages)
#find list median
median = median(ages)
print("The median is:", median)
#find list average
average = average(ages)
print("The average is:",average)
#finds list range
range = ((ages[len(ages)-1])- (ages[1]))
print("The range is:",range)

The original array is:
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
The sorted array is:
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Adding the min to the list:
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Adding the max to the list:
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
The median is: 24.0
The average is: 22.75
The range is: 7

Question 2:

In [ ]:
#Creates an empty dictionary called dog
empty_dog = {}
#adds color, breed, legs, and age to the dictionary dog
dog = {'color':'black',
       'breed':'doberman',
       'legs':'3',
       'age':'12'
       }

#adds first_name,last_name,gender,age,marital_status,skills,country,city and address as keys
student = {
    'first_name' : 'Ian',
    'last_name' : 'Bennett',
    'gender' : 'male',
    'age' : 21,
    'marital status' : False,
    'skills' : ['Javascript', 'Excel'],
    'country' : 'America',
    'city' : 'Lees Summit',
    'address' : '123 Main'
}

#gets student dictionary length
print("The length of the student dictionary is:", len(student))

#gets value of skills and data type
print(student['skills'])

#gets the data type (list) of the skills attribute
print(type(student['skills']))

#modifies skills by adding one or two
student['skills'].append('Java')
print(student['skills'])

#gets dictionary keys as a list
print(student.keys())

#gets dictionary values as a list
print(student.values())

The length of the student dictionary is: 9
['Javascript', 'Excel']
<class 'list'>
['Javascript', 'Excel', 'Java']
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Ian', 'Bennett', 'male', 21, False, ['Javascript', 'Excel', 'Java'], 'America', 'Lees Summit', '123 Main'])

Question 3:

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#Find the length of it_companies
print("The length of the it_companies list is:",len(it_companies))

#Adds Twitter to it_companies
it_companies.add('Twitter')
print("The list with Twitter is:",it_companies)

#Removes Google from the list
it_companies.remove('Google')
print("The it_companies list without Google is:",it_companies)

#What is the difference between remove and discard
print("The difference between remove and discard is remove will throw an error if called",
      "but discard wont")

#Conjoining A and B
aAndB = A.union(B)
print("The list of A an B is:",aAndB)

#Intersection of A and B
print("The intersection of A and B is:",A.intersection(B))

#Find if A is a subset of B
print("Is A a subset of B:", A.issubset(B))

#Are A and B disjoint sets
print("Are A and B a disjointed sets:", A.isdisjoint(B))

#Join A with B and B with A
#print("The list after A is joined with B",A.update(B))

print("The list after B is joined with A", B.update(A))

#The symetric difference between A and B
print("The symetric difference between A and B is:", A.symmetric_difference(B))

#Deletes sets
del A
del B
del it_companies

#Converts ages into set and compare length of the list and set
ageSet = set(age)
print("The set version of age is:", ageSet)
print("The set length of age is:", len(ageSet))
print("The list length of age is:",len(age))

The length of the it_companies list is: 7
The list with Twitter is: {'IBM', 'Google', 'Oracle', 'Twitter', 'Apple', 'Microsoft', 'Facebook', 'Amazon'}
The it_companies list without Google is: {'IBM', 'Oracle', 'Twitter', 'Apple', 'Microsoft', 'Facebook', 'Amazon'}
The difference between remove and discard is remove will throw an error if called but discard wont
The list of A an B is: {19, 20, 22, 24, 25, 26, 27, 28}
The intersection of A and B is: {19, 20, 22, 24, 25, 26}
Is A a subset of B: True
Are A and B a disjointed sets: False
The list after B is joined with A None
The symetric difference between A and B is: {27, 28}
The set version of age is: {19, 22, 24, 25, 26}
The set length of age is: 5
The list length of age is: 8

Question 4:

In [ ]:
class Employee:
  #Creates a data member to count the number of Employees
  numEmployees = 0

  #Creates a constructor to initialize name, family, salary, department
  def __init__(self, name, family, salary, department):
        self.__name = name
        self.__family = family
        self.salary = salary
        self.__department = department
        Employee.numEmployees += 1

  #Creates a function to average salary
  @staticmethod
  def averageSalary(employees):
    numCounter = 0
    for employee in employees:
      numCounter += employee.salary
    return numCounter / Employee.numEmployees

#Creates a Fulltime Employee class and it should inherit the properties of Employee class
class FulltimeEmployee(Employee):
  def __init__(self, name, family_name, salary, department):
      print(super().__init__(name, family_name, salary, department))

  def full_time_benefits(self):
      print("Few benefits as full time employee.")

#Creates the instances of Fulltime Employee class and Employee class and call their member functions.
class main():
     employees = []
     e1 = FulltimeEmployee("Jeff", "Goldstein", 275000, "CEO")
     e1.full_time_benefits()
     employees.append(e1)
     e2 = FulltimeEmployee("Steve", "Gellar", 45000, "Security")
     employees.append(e2)
     e3 = Employee("Stacy", "Miller", 70000, "Sales")
     employees.append(e3)
     e4 = Employee("Rebecca", "Oiler", 120000, "Aquasitions")
     employees.append(e4)
     print("Average salary:", FulltimeEmployee.averageSalary(employees))

None
Few benefits as full time employee.
None
Average salary: 127500.0